#Headbar 
{
    background-color: #B05451;
    color: #EBC4B9;
    text-align: center;
    font-size: 35;
}

.button 
{
    background-color: #B05451;
    color: #EBC4B9;
    padding: 10 20;
    border-radius: 15;
    margin: 5;
    width: 300;
}

.pageBackground 
{
    background-color: #CD775F;
}

contentView 
{
    background-color: #EBC4B9;
    color: #5B566E;
    padding: 10 20;
    margin: 5;
    width: 350;
    height: 65;
    display: flex;
    justify-content: space-between;
}

.delButton 
{
    background-color: #B70413;
    color: #EBC4B9;
}

.classLabel
{
    width: 250;
    font-size: 25;
}
