#Headbar 
{
    background-color: #B05451;
    color: #EBC4B9;
    text-align: center;
    font-size: 35;
}

.button 
{
    background-color: #B05451;
    color: #EBC4B9;
    padding: 10 20;
    border-radius: 15;
    margin: 5;
    width: 300;
}

.pageBackground 
{
    background-color: #CD775F;
}

^ScrollView {
    background-color: #934644;
    color: #EBC4B9;
    padding: 10 20;
    margin: 5;
    width: 500;
    height: 550;
    display: flex;
    justify-content: space-between;
}

.studenName
{
    font-size: 25;
}
